.c-breadcrumb {
  padding: 12px 3vw;
  font-family: "YuMincho";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1;

  @include mq-up(sm) {
    margin: 0 auto;
    max-width: 1180px;
    padding: 36px 0;
  }

  .breadcrumb__list {
    display: flex;

    .breadcrumb__item::after {
      content: '＞';
      display: inline-block;
    }

    span {
      color: #000;
    }

    .breadcrumb__item:last-child::after {
      display: none;
    }
  }
}