.c-desc-btn {
    margin: 0 auto;
    display: block;
    padding: 0 44px;
    font-family: "YuMincho";
    font-size: 1.6rem;
    line-height: 56px;
    font-weight: normal;
    background-color: #fff;
    border: solid 1px #707070;
    box-sizing: border-box;
    outline: none;
    @include mq-up(md) {
        margin: 0;
    }

    a {
        color: #000;
    }
}