.c-reservation-btn {
    height: 36px;
    padding-left: 35px;
    padding-right: 15px;
    background: #978F10;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 1.4rem;
    line-height: 36px;
    z-index: 9999;

    @include mq-up(sm) {
        height: 54px;
        padding-left: 69px;
        padding-right: 37px;
        font-size: 1.6rem;
        line-height: 54px;
    }

    .calender {
        width: 18px;
        position: absolute;
        top: 9px;
        left: 12px;

        @include mq-up(sm) {
            width: 22px;
            top: 16px;
            left: 37px;
        }
    }

}