.l-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 80px;
    padding: 0 2vw;
    transition: 0.5s;

    @include mq-up(sm) {
        padding-left: 1vw;
        padding-right: calc(1vw + 2px);
    }

    &.scrolled {
        background-color: #fff;
    }
}