.p-header__inner {
    margin-left: 1.2vw;
    margin-right: 0.9vw;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #fff;
    font-family: "YuMincho";

    .header__btn {
        margin-left: auto;
        position: relative;

        @include mq-down(sm) {
            margin-right: 10%;
        }
    }

    .header__title-wrapper {
        a {
            height: 40px;
            display: flex;
            align-items: center;

            .header__logo {
                width: 40px;
                vertical-align: middle;
            }

            span {
                margin-left: 15px;
                font-size: 3.2rem;
                line-height: 1.5;
                font-weight: bold;
                letter-spacing: 0.18em;
                color: $txt-color;
            }
        }

    }

    .header__nav {
        margin-left: 120px;

        ul {
            display: flex;
            justify-content: space-between;

            li {
                margin-right: 30px;

                a {
                    font-size: 1.6rem;
                    font-weight: bold;
                    color: $txt-color;
                }
            }
        }

        @include mq-down(sm) {
            width: 0;
            opacity: 0;
            visibility: hidden;
            transition: opacity .4s, visibility 0s;

            &.is_active {
                opacity: 1;
                visibility: visible;

                ul {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 80px;
                    left: 0;
                    width: 100%;
                    background-color: #fff;
                    opacity: 0.9;

                    li {
                        margin-right: 0;
                        text-align: left;
                        padding: 10px 60px;

                        a {
                            display: block;
                        }
                    }
                }
            }

        }
    }


}