.p-header__inner {
    padding: 0 2vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-family: "YuMincho";
    position: relative;
    @include mq-up(sm) {
        justify-content: flex-start;
    }

    &.scrolled,
    &.bg-fix {
        .header__title {

            .header__logo {
                a {
                    color: #000;

                    &::before {
                        background-image: url(../img/logo02.png);
                    }
                }
            }
        }

        .header-menu {

            a,
            a:visited,
            a:link {
                color: #000;
            }
        }
    }

    .c-reservation-btn {
        position: absolute;
        right: 17%;
        outline: none;

        @include mq-up(sm) {
            margin-left: auto;
            right: 0;
        }
    }


    .header__title {
        margin-left: 5px;
        padding-left: 1vw;

        @include mq-up(sm) {
            margin-left: 0;
        }

        .header__logo {
            a {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 2.2rem;
                line-height: 1.5;
                font-weight: bold;
                letter-spacing: 0.08em;
                color: #fff;

                @include mq-up(sm) {
                    font-size: 3.2rem;
                    letter-spacing: 0.18em;
                    line-height: 1.5;
                }

                &::before {
                    content: "";
                    margin-right: 10px;
                    width: 32px;
                    height: 32px;
                    background-image: url(../img/logo01.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: top left;

                    @include mq-up(sm) {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }

    .header__nav {

        width: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s, visibility 0s;

        &.is_active {
            opacity: 1;
            visibility: visible;

            ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 80px;
                left: 0;
                background-color: #fff;
                opacity: 0.9;

                li {
                    margin-right: 0;
                    text-align: center;
                    padding: 10px 0;

                    a {
                        display: block;
                        color: #000;
                    }
                }
            }
        }

        @include mq-up(sm) {
            margin-left: 120px;
            width: auto;
            opacity: 1;
            visibility: visible;

            ul {
                display: flex;
                justify-content: space-between;

                li {
                    margin-right: 30px;

                    a {
                        font-size: 1.6rem;
                        font-weight: bold;
                        color: #fff;
                    }
                }
            }

        }
    }
}