@charset "UTF-8";
/*==================================================
** Foundation
==================================================*/
/*!
 * ress.css • v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

@font-face {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho" "ヒラギノ明朝 Pro W3", "Hiragino Kaku Gothic Pro", "HiraMinProN-W3" "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 1.6em;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho" "ヒラギノ明朝 Pro W3", "Hiragino Kaku Gothic Pro", "HiraMinProN-W3" "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0;
  -webkit-text-size-adjust: 100%;
  color: #333;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  letter-spacing: 0.068em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 80px;
  padding: 0 2vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 767px) {
  .l-header {
    padding-left: 1vw;
    padding-right: calc(1vw + 2px);
  }
}

.l-header.scrolled {
  background-color: #fff;
}

.c-reservation-btn {
  height: 36px;
  padding-left: 35px;
  padding-right: 15px;
  background: #978F10;
  color: #fff;
  display: inline-block;
  text-align: center;
  font-size: 1.4rem;
  line-height: 36px;
  z-index: 100;
}

@media screen and (min-width: 767px) {
  .c-reservation-btn {
    height: 54px;
    padding-left: 69px;
    padding-right: 37px;
    font-size: 1.6rem;
    line-height: 54px;
  }
}

.c-reservation-btn .calender {
  width: 18px;
  position: absolute;
  top: 9px;
  left: 12px;
}

@media screen and (min-width: 767px) {
  .c-reservation-btn .calender {
    width: 22px;
    top: 16px;
    left: 37px;
  }
}

.c-burger {
  height: 50px;
  width: 50px;
  padding: 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  z-index: 150;
  position: absolute;
  top: 16px;
  right: 3px;
}

.c-burger__line {
  width: 100%;
  height: 2px;
  background-color: #FFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.c-burger.scrolled .c-burger__line {
  background-color: #000;
}

.c-burger.is_active .c-burger__line {
  background-color: #fff;
}

.c-burger.is_active .c-burger__line.scrolled {
  background-color: #000;
}

.c-burger.is_active .c-burger__line:first-of-type {
  -webkit-transform: rotate(-45deg) translate(-7px, 7px);
          transform: rotate(-45deg) translate(-7px, 7px);
}

.c-burger.is_active .c-burger__line:nth-child(2) {
  opacity: 0;
}

.c-burger.is_active .c-burger__line:last-of-type {
  -webkit-transform: rotate(-135deg) translate(5px, 6px);
          transform: rotate(-135deg) translate(5px, 6px);
}

.c-burger.is_active.scrolled .c-burger__line:first-of-type,
.c-burger.is_active.scrolled .c-burger__line:last-of-type {
  background-color: #000;
}

@media screen and (min-width: 767px) {
  .c-burger {
    display: none;
  }
}

.c-filter {
  position: absolute;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.c-filter.is_active {
  top: 0;
  visibility: visible;
  opacity: 1;
}

.c-reservation {
  position: fixed;
  top: -75vh;
  left: 3%;
  height: 75vh;
  width: 94%;
  background-color: #fff;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "YuMincho";
  font-weight: normal;
}

@media screen and (min-width: 767px) {
  .c-reservation {
    width: 550px;
    height: 600px;
    position: fixed;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.c-reservation .reservation-inner {
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
}

@media screen and (min-width: 767px) {
  .c-reservation .reservation-inner {
    padding-left: 11%;
    padding-right: 11%;
  }
}

.c-reservation .reservation-inner h2 {
  padding-top: 18px;
  padding-bottom: 20px;
  font-size: 2rem;
  line-height: 1;
  font-weight: normal;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .c-reservation .reservation-inner h2 {
    padding-top: 29px;
    padding-bottom: 31px;
  }
}

.c-reservation .reservation-inner span {
  position: absolute;
  top: 20px;
  right: 22px;
  width: 16px;
  height: 16px;
}

.c-reservation .reservation-inner form {
  border-top: solid 1px #E7E7E7;
}

.c-reservation .reservation-inner form label:not(:nth-of-type(1)) {
  margin-top: 0;
  display: block;
  font-size: 1.6rem;
  line-height: 1;
}

.c-reservation .reservation-inner form label:nth-of-type(1) {
  margin-top: 20px;
  display: block;
  font-size: 1.6rem;
  line-height: 1;
}

@media screen and (min-width: 767px) {
  .c-reservation .reservation-inner form label:nth-of-type(1) {
    margin-top: 36px;
  }
}

.c-reservation .reservation-inner form input,
.c-reservation .reservation-inner form select {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
  font-size: 1.6rem;
  line-height: 24px;
  display: block;
  padding-left: 0.5em;
  overflow: hidden;
  border: solid 1px #E7E7E7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 767px) {
  .c-reservation .reservation-inner form input,
  .c-reservation .reservation-inner form select {
    height: 32px;
    font-size: 1.4rem;
  }
}

.c-reservation .reservation-inner form input::-webkit-input-placeholder,
.c-reservation .reservation-inner form select {
  color: #797878;
}

.c-reservation .reservation-inner form input:-ms-input-placeholder,
.c-reservation .reservation-inner form select {
  color: #797878;
}

.c-reservation .reservation-inner form input::-ms-input-placeholder,
.c-reservation .reservation-inner form select {
  color: #797878;
}

.c-reservation .reservation-inner form input::placeholder,
.c-reservation .reservation-inner form select {
  color: #797878;
}

.c-reservation.is_open {
  top: 65px;
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 767px) {
  .c-reservation.is_open {
    top: 242px;
  }
}

.c-submit-btn {
  display: block;
  margin: 30px auto 0;
  padding: 0 63px;
  font-family: "YuMincho";
  font-size: 1.6rem;
  line-height: 36px;
  font-weight: normal;
  background-color: #fff;
  border: solid 1px #707070;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

@media screen and (min-width: 767px) {
  .c-submit-btn {
    margin-top: 64px;
    height: 42px;
  }
}

.c-desc-btn {
  margin: 0 auto;
  display: block;
  padding: 0 44px;
  font-family: "YuMincho";
  font-size: 1.6rem;
  line-height: 56px;
  font-weight: normal;
  background-color: #fff;
  border: solid 1px #707070;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

@media screen and (min-width: 960px) {
  .c-desc-btn {
    margin: 0;
  }
}

.c-desc-btn a {
  color: #000;
}

.p-header__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  font-family: "YuMincho";
  position: relative;
}

.p-header__inner.scrolled .header__logo a {
  color: #000;
}

.p-header__inner.scrolled .header__logo a::before {
  background-image: url(../img/logo02.png);
}

.p-header__inner.scrolled .header-menu a {
  color: #000;
}

.p-header__inner .header-menu a,
.p-header__inner .header-menu a:link {
  color: #000;
}

.p-header__inner .c-reservation-btn {
  position: relative;
  right: 17%;
  outline: none;
}

@media screen and (min-width: 767px) {
  .p-header__inner .c-reservation-btn {
    margin-left: auto;
    right: 0;
  }
}

.p-header__inner .header__title {
  margin-left: 5px;
  padding-left: 1vw;
}

@media screen and (min-width: 767px) {
  .p-header__inner .header__title {
    margin-left: 0;
  }
}

.p-header__inner .header__title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: 0.08em;
  color: #fff;
}

@media screen and (min-width: 767px) {
  .p-header__inner .header__title a {
    font-size: 3.2rem;
    letter-spacing: 0.18em;
    line-height: 1.5;
  }
}

.p-header__inner .header__title a::before {
  content: "";
  margin-right: 10px;
  width: 32px;
  height: 32px;
  background-image: url(../img/logo01.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}

@media screen and (min-width: 767px) {
  .p-header__inner .header__title a::before {
    width: 40px;
    height: 40px;
  }
}

.p-header__inner .header__nav {
  width: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s, visibility 0s;
  transition: opacity .4s, visibility 0s;
}

.p-header__inner .header__nav.is_active {
  opacity: 1;
  visibility: visible;
}

.p-header__inner .header__nav.is_active ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 80px;
  left: 0;
  background-color: #fff;
  opacity: 0.9;
}

.p-header__inner .header__nav.is_active ul li {
  margin-right: 0;
  text-align: center;
  padding: 10px 0;
}

.p-header__inner .header__nav.is_active ul li a {
  display: block;
}

@media screen and (min-width: 767px) {
  .p-header__inner .header__nav {
    margin-left: 120px;
    width: auto;
    opacity: 1;
    visibility: visible;
  }
  .p-header__inner .header__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .p-header__inner .header__nav ul li {
    margin-right: 30px;
  }
  .p-header__inner .header__nav ul li a {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
  }
}

.p-first-view {
  width: 100vw;
  height: calc(100vh - 80px);
}

@media screen and (min-width: 767px) {
  .p-first-view {
    height: 1079px;
  }
}

.p-first-view .first__imgBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.p-first-view .first__imgBox .main_img {
  z-index: 10;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: anime 18s 0s infinite;
          animation: anime 18s 0s infinite;
}

.p-first-view .first__imgBox .main_img:nth-of-type(2) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.p-first-view .first__imgBox .main_img:nth-of-type(3) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

.p-first-view .first__imgBox .mb01 {
  background-image: url(../img/mainbg01.jpg);
}

.p-first-view .first__imgBox .mb02 {
  background-image: url(../img/mainbg02.jpg);
}

.p-first-view .first__imgBox .mb03 {
  background-image: url(../img/mainbg03.jpg);
}

.p-first-view .first__catch {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  bottom: 35%;
  right: 10%;
  color: #FFF;
  z-index: 20;
  font-family: "YuMincho";
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.5;
}

@media screen and (min-width: 767px) {
  .p-first-view .first__catch {
    font-size: 3.6rem;
    right: 26.4%;
    bottom: 40%;
  }
}

.p-intro {
  width: 100%;
  padding: 100px 2vw 40px;
  background-image: url(../img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 767px) {
  .p-intro {
    width: 100%;
    height: 681px;
    padding-top: 120px;
  }
}

.p-intro .intro-inner {
  margin: 0 auto;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  color: #000;
}

@media screen and (min-width: 960px) {
  .p-intro .intro-inner {
    max-width: 1180px;
    width: calc(1180/1920*100%);
    padding-left: 30px;
  }
}

.p-intro .intro-inner .intro-title {
  margin-left: 0.5rem;
  z-index: 20;
  font-family: "YuMincho";
  font-size: 2.2rem;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.5em;
  text-indent: -2em;
}

@media screen and (min-width: 960px) {
  .p-intro .intro-inner .intro-title {
    font-size: 2.8rem;
    margin-right: calc(101/1920*100vw);
    margin-left: calc(118/1920*100vw);
  }
}

.p-intro .intro-inner p {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #000;
  z-index: 20;
  font-family: "YuMincho";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.40;
  letter-spacing: 0.5em;
}

.p-intro .intro-inner p:not(:nth-of-type(1)) {
  margin-right: 0.8rem;
}

@media screen and (min-width: 960px) {
  .p-intro .intro-inner p:not(:nth-of-type(1)) {
    margin-right: calc(118/1920*100vw);
  }
}

.p-intro .intro-inner .sign-name {
  text-align: right;
}

@media screen and (min-width: 960px) {
  .p-intro .intro-inner .sign-name {
    margin-left: calc(220/1920*100vw);
  }
}

.p-contents {
  padding: 20px 0;
}

@media screen and (min-width: 960px) {
  .p-contents {
    padding-top: 106px;
  }
}

.p-contents .box-img {
  width: 100%;
  vertical-align: bottom;
}

@media screen and (min-width: 960px) {
  .p-contents .box-img {
    width: 55%;
  }
}

.p-contents .room-box,
.p-contents .menu-box,
.p-contents .onsen-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "YuMincho";
  margin-bottom: 40px;
}

@media screen and (min-width: 960px) {
  .p-contents .room-box,
  .p-contents .menu-box,
  .p-contents .onsen-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 122px;
  }
}

.p-contents .room-box .room-desc,
.p-contents .room-box .menu-desc,
.p-contents .room-box .onsen-desc,
.p-contents .menu-box .room-desc,
.p-contents .menu-box .menu-desc,
.p-contents .menu-box .onsen-desc,
.p-contents .onsen-box .room-desc,
.p-contents .onsen-box .menu-desc,
.p-contents .onsen-box .onsen-desc {
  width: 98%;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (min-width: 960px) {
  .p-contents .room-box .room-desc,
  .p-contents .room-box .menu-desc,
  .p-contents .room-box .onsen-desc,
  .p-contents .menu-box .room-desc,
  .p-contents .menu-box .menu-desc,
  .p-contents .menu-box .onsen-desc,
  .p-contents .onsen-box .room-desc,
  .p-contents .onsen-box .menu-desc,
  .p-contents .onsen-box .onsen-desc {
    width: 45%;
    padding: 22px 0 0;
    padding-left: calc(137/1920*100vw);
  }
}

.p-contents .room-box .room-desc h3,
.p-contents .room-box .menu-desc h3,
.p-contents .room-box .onsen-desc h3,
.p-contents .menu-box .room-desc h3,
.p-contents .menu-box .menu-desc h3,
.p-contents .menu-box .onsen-desc h3,
.p-contents .onsen-box .room-desc h3,
.p-contents .onsen-box .menu-desc h3,
.p-contents .onsen-box .onsen-desc h3 {
  margin-bottom: 20px;
  font-size: 2.1rem;
  line-height: 1.6;
  font-weight: normal;
}

@media screen and (min-width: 960px) {
  .p-contents .room-box .room-desc h3,
  .p-contents .room-box .menu-desc h3,
  .p-contents .room-box .onsen-desc h3,
  .p-contents .menu-box .room-desc h3,
  .p-contents .menu-box .menu-desc h3,
  .p-contents .menu-box .onsen-desc h3,
  .p-contents .onsen-box .room-desc h3,
  .p-contents .onsen-box .menu-desc h3,
  .p-contents .onsen-box .onsen-desc h3 {
    font-size: calc(22px + ((1vw - 9.6px) * 1.4));
    line-height: 1.7;
    margin-bottom: calc(75/1920*100vw);
  }
}

.p-contents .room-box .room-desc p,
.p-contents .room-box .menu-desc p,
.p-contents .room-box .onsen-desc p,
.p-contents .menu-box .room-desc p,
.p-contents .menu-box .menu-desc p,
.p-contents .menu-box .onsen-desc p,
.p-contents .onsen-box .room-desc p,
.p-contents .onsen-box .menu-desc p,
.p-contents .onsen-box .onsen-desc p {
  margin-bottom: 20px;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: normal;
}

@media screen and (min-width: 960px) {
  .p-contents .room-box .room-desc p,
  .p-contents .room-box .menu-desc p,
  .p-contents .room-box .onsen-desc p,
  .p-contents .menu-box .room-desc p,
  .p-contents .menu-box .menu-desc p,
  .p-contents .menu-box .onsen-desc p,
  .p-contents .onsen-box .room-desc p,
  .p-contents .onsen-box .menu-desc p,
  .p-contents .onsen-box .onsen-desc p {
    font-size: calc(13px + ((1vw - 9.6px) * 0.31));
    line-height: 2;
    margin-bottom: calc(75/1920*100vw);
  }
}

.p-contents .room-box .room-desc p br.pc,
.p-contents .room-box .menu-desc p br.pc,
.p-contents .room-box .onsen-desc p br.pc,
.p-contents .menu-box .room-desc p br.pc,
.p-contents .menu-box .menu-desc p br.pc,
.p-contents .menu-box .onsen-desc p br.pc,
.p-contents .onsen-box .room-desc p br.pc,
.p-contents .onsen-box .menu-desc p br.pc,
.p-contents .onsen-box .onsen-desc p br.pc {
  display: none;
}

@media screen and (min-width: 960px) {
  .p-contents .room-box .room-desc p br.pc,
  .p-contents .room-box .menu-desc p br.pc,
  .p-contents .room-box .onsen-desc p br.pc,
  .p-contents .menu-box .room-desc p br.pc,
  .p-contents .menu-box .menu-desc p br.pc,
  .p-contents .menu-box .onsen-desc p br.pc,
  .p-contents .onsen-box .room-desc p br.pc,
  .p-contents .onsen-box .menu-desc p br.pc,
  .p-contents .onsen-box .onsen-desc p br.pc {
    display: block;
  }
}

@media screen and (min-width: 960px) {
  .p-contents .menu-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 960px) {
  .p-contents .menu-box .menu-desc {
    padding-left: calc(408/1920*100vw);
    padding-right: 2px;
  }
}

.p-contents .onsen-box {
  margin-bottom: 40px;
}

@media screen and (min-width: 960px) {
  .p-contents .onsen-box {
    margin-bottom: 79px;
  }
}

footer {
  background: #F8F8F8;
}

footer .footer-inner {
  text-align: center;
}

footer .footer-inner .footer-title {
  padding-top: 43px;
  margin-bottom: 21px;
  font-size: 2.4rem;
  line-height: 1.2;
}

footer .footer-inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 52px;
}

footer .footer-inner ul li {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.75;
}

@media screen and (max-width: 961px) {
  footer .footer-inner ul li {
    font-size: 1.4rem;
  }
}

footer .footer-inner ul li a {
  color: #333;
}

footer .footer-inner ul li:first-child {
  margin-right: 29px;
}

footer .footer-inner .copy-right {
  padding-bottom: 49px;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.4;
}
